Source: timekpr-next
Maintainer: Eduards Bezverhijs <edzis@inbox.lv>
Uploaders: Eduards Bezverhijs <edzis@inbox.lv>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7) | debhelper-compat (= 12),
               dh-python | python-support,
               gir1.2-gtk-3.0,
               libgtk-3-0 (>= 3.4),
               po-debconf,
               python3 (>= 3.2),
               python3-dbus,
               python3-gi
Standards-Version: 3.9.5
Homepage: https://launchpad.net/timekpr-next
Rules-Requires-Root: no

Package: timekpr-next
Architecture: any
Depends: gir1.2-appindicator3-0.1,
         gir1.2-gtk-3.0,
         libgtk-3-0 (>= 3.4),
         lxpolkit | lxqt-policykit | mate-polkit | policykit-1-gnome | polkit-kde-agent-1 | polkit-1-auth-agent,
         policykit-1,
         python3 (>= 3.2),
         python3-dbus,
         python3-gi,
         python3-psutil (>= 3.4),
         systemd | systemd-shim,
         ${misc:Depends},
         ${python3:Depends}
Suggests: espeak,
          python3-espeak
Conflicts: timekpr-next-beta
Provides: timekpr
Replaces: timekpr,
          timekpr-beta,
          timekpr-next-beta
Description: Keep control of computer usage
 Timekpr-nExT is a program that tracks and controls the computer usage
 of your user accounts. You can limit their daily usage based on a
 timed access duration and configure periods of day when they can or
 cannot log in.
 .
 This may be used for parental control to limit the amount of screen time
 a child spends in front of the computer.
 .
 Please report any bugs to Timekpr-nExT’s bug tracker on Launchpad at:
 https://bugs.launchpad.net/timekpr-next
