Source: timekpr-next-beta
Section: admin
Priority: extra
Maintainer: Eduards Bezverhijs <edzis@inbox.lv>
Uploaders: Eduards Bezverhijs <edzis@inbox.lv>
Build-Depends: debhelper (>= 7), po-debconf, dh-python | python-support, python3 (>= 3.2), python-gi, libgtk-3-0 (>= 3.4), python-dbus, gir1.2-gtk-3.0
Standards-Version: 3.9.5
X-Python-Version: >= 3.2
Homepage: http://launchpad.net/timekpr-next/

Package: timekpr-next-beta
Architecture: any
Depends: ${misc:Depends}, lxpolkit | lxqt-policykit | mate-polkit | policykit-1-gnome | polkit-kde-agent-1, python-gi, libgtk-3-0 (>= 3.4), python-dbus, gir1.2-gtk-3.0, systemd | systemd-shim
Suggests: espeak, python3-espeak
Provides: timekpr
Conflicts: timekpr-next
Replaces: timekpr, timekpr-beta, timekpr-next
Recommends: gdm | kdm | lightdm | mdm | lxdm, python-appindicator, gir1.2-appindicator3-0.1
Description: Keep control of computer usage
 This program will track and control the computer usage of
 your user accounts. You can limit their daily usage based
 on a timed access duration and configure periods of day
 when they can or cannot log in.
 .
 Any bugs should be reported to our bug tracker:
 https://bugs.launchpad.net/timekpr-next/+bugs
