Source: timekpr-next
Maintainer: Eduards Bezverhijs <edzis@inbox.lv>
Uploaders: Eduards Bezverhijs <edzis@inbox.lv>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7) | debhelper-compat (= 12),
               dh-python | python-support,
               gir1.2-gtk-3.0,
               po-debconf,
               python3 (>= 3.2),
               python3-dbus,
               python3-gi
Standards-Version: 3.9.5
Homepage: https://launchpad.net/timekpr-next
Rules-Requires-Root: no

Package: timekpr-next
Architecture: any
Depends: gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
         gir1.2-gtk-3.0,
         lxpolkit | lxqt-policykit | mate-polkit | policykit-1-gnome | polkit-kde-agent-1 | polkit-1-auth-agent,
         pkexec | policykit-1,
         python3 (>= 3.2),
         python3-dbus,
         python3-gi,
         python3-psutil (>= 3.4),
         systemd | systemd-shim,
         ${misc:Depends},
         ${python3:Depends}
Suggests: espeak,
          gnome-shell-extension-appindicator,
          python3-espeak
Conflicts: timekpr-next-beta
Provides: timekpr
Replaces: timekpr,
          timekpr-beta,
          timekpr-next-beta
Description: Keep control of computer usage
 Timekpr-nExT is a fresh, simple and easy-to-use time managing software
 that helps optimizing time spent at computer for Your subordinates,
 children or even for Yourself.
 .
 The software is targeted at parents or supervisors to optimize / limit
 time spent at computer as they see fit.
 .
 Please report any bugs to Timekpr-nExT’s bug tracker on Launchpad at:
 https://bugs.launchpad.net/timekpr-next
