[Desktop Entry]
Name=Timekpr-nExT Client
Comment=Timekpr-nExT Client application
Icon=timekpr-client
Exec=/usr/bin/timekprc
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=timekpr
