[Desktop Entry]
Version=1.0
Name=(SU) Timekpr-nExT Control Panel (superuser mode)
Comment=Keep control of computer usage
Keywords=timekpr;time;
Exec=pkexec /usr/bin/timekpra
Icon=timekpr
Terminal=false
Type=Application
Categories=System;Settings;GTK;
StartupNotify=true
X-Ubuntu-Gettext-Domain=timekpr
