[Desktop Entry]
Encoding=UTF-8
Name=Timekpr Client
Comment=Timekpr Client
Icon=timekpr-client
Exec=/usr/bin/timekprc
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=timekpr
